<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
    	<%= image_tag('lib.jpg') %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Welcome to Don Bosco Library<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Don Bosco Library<i class="material-icons right">close</i></span>
      <p>This is a website that allows the college to manage the borrowing and returning of the books in the library through a website<br/>
      	 It gives and admin interface for the librarian where he can create and edit books and also mark the borrowed books as returned.<br/>
      	 The students on the other hand can view the list of books and other students, and they can borrow a book, as soon as a student<br/>
      	 hit borrow the book gets assigned to him and only the librarian can mark the book as returned. <br/>
      	 A non logged in user can only see the list of books or students but does not have the option to borrow a book.</p>
    </div>
</div>