$navbar-default-bg: #d9b38c;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";

.inline{
	display:inline;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.jumbotron {

background-image: asset-url('bg.jpg');

background-size: cover;

height: 800px;

width: 100%;

}

.card-title{
	a{
		color: white;
	}
}

.jumbotron h1 {

color: #blue;

text-align: center;

margin-bottom: 30px;

letter-spacing: -1px;

font-weight: bold;

}


footer {

margin-top: 45px;

padding-top: 5px;

border-top: 1px solid #eaeaea;

color: #777;

}

footer a:hover {

color: #222;

}

footer small {

float: left;

}

footer ul {

float: right;

list-style: none;

}

footer ul li {

float: left;

margin-left: 15px;

}

.book-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description {
	margin-top: 0;
}

.book-name{
	font-weight: bold;
	font-size: 1em;
}

.book-body{
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

.listing{
	list-style: none;
	padding-left: 0;
}