<h1 align="center">Index of borrowed Books</h1>
<ul class="collection">
	<% @borrows.each do |b| %>
		<li class="collection-item avatar">
			<i class="material-icons circle">book</i>
		<p>
			Book: <%=link_to "#{b.book.name}", book_path(b.book_id) %><br/>
			Student: <%=link_to "#{b.user.username}", user_path(b.user_id) %><br/>
			Borrowed on: <strong><%= b.created_at.strftime("%m/%d/%Y") %></strong>
		</p>
		<%= link_to borrow_path(b), method: :delete, class: "secondary-content" do %>
			<i class="material-icons right">offline_pin</i>Received
		<% end %>
		</li>
	<% end %>
</ul>
