  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Library Management System</h5>
                <p class="grey-text text-lighten-4">Developed By Gaurav Rakheja and Taha Khasamwala</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
	            © 2017 Copyright
            </div>
          </div>
</footer>
            