<footer class="footer">
<small>
Copyright © <span>Library management system</span>
by <span style="color:red;">Gaurav Rakheja and Taha khasamwala</span>
</small>
<nav>
<ul>
<li><%= link_to "About", pages_about_path %></li>
</ul>
</nav>
</footer>
</div>	